# build artifacts
lib/
src/*.o
test/benchmark
test/test_correctness
example/example

# logs/results
results/*.out
results/*.err
csd3_serial_*.out
csd3_serial_*.err

# macOS
.DS_Store# Build artefacts
lib/
src/*.o
example/example
test/test_correctness

# macOS
.DS_Store

# Editor files
*.swp
*.swo
*~
.vscode/
*.csv
